/* ==========================================================================
   {MainProject} system styles
   ========================================================================== */

/* Header
-------------------------- */
.ui-header {
	height: 51px;
	margin: 0;
	padding: 0;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5)!important;
	@include bicameral-gradient-background;
	overflow: visible;
	
	h1.ui-title {
		float: left;
		height: 43px;
		margin: 0 0 0 10px;
		padding: 8px 0 0 50px;
		color: #FFF;
		font-size: 12px;
		text-align: left!important;
		line-height: 1;
		background: url(../img/logo.png) 0 4px no-repeat;

		span.house {
			float: left;
			width: 100%;
			margin-top: 2px;
			font-size: 20px;
		}
	}

	.commons & {
		@include commons-gradient-background;
	}

	.lords & {
		@include lords-gradient-background;
		border-color: #A01E0D;
	}

	.ui-popup & {
		height: 30px;

		h1.ui-title {
			height: auto;
			padding: 6px 0;
			font-size: 18px;
			font-weight: normal;
			background: none;
		}
	}
}

.linked-show-hide {
	display: none;

	&.active {
		display: block;
	}
}

/* Footer
-------------------------- */
.ui-footer {
	padding: 0;
	@include clearfix;
	background: #1d1d1d;
	border-color: #1b1b1b;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	font-weight: 700;

	.inner {
		padding: 5px 15px 6px;
		font-weight: 400;
		overflow: hidden;
	}

	.credit {
		float: right;
		margin-top: 2px;
		color: #999;
		font-size: 12px;
		font-weight: 300;

		a {
			color: #F75900;
			font-weight: 400;
		}
	}

	small {
		float: left;
		color: #777;
		font-size: 12px;
		font-weight: 400;
	}
	
	.ui-btn {
		margin: 10px;

		&.ui-btn-right {
			position: relative;
			float: right;
			top: auto;
			right: auto;
		}
	}
}

/* Content
-------------------------- */
.ui-content {
	padding: 10px;
	overflow-x: visible;

	.ui-listview {
		margin: 0;
	
		> li.ui-li-has-alt {
			margin-bottom: 1px;
	
			> a.ui-btn {
				margin-right: 0;
				padding: 4px 5px;
				font-weight: normal;
				background: #EFEFEF;
				border: none;
			}
			
			> .ui-btn + .ui-btn {
				width: 2.2em;
				border: none;
			}
		}
	}
}

.ui-tabs {
	//margin-left: 55px;
	margin-left: 0;
	padding: 0;

	&.nav-scrollable {
		margin: 0;
	}
}

.ui-tabs-panel {
	padding: 0;

	h1 {
		display: none;
	}
}

.ui-input-text {
	border-radius: 2px;
}

/* Tabs nav */
.ui-navbar {
	display: none; // temp
	position: fixed;
	top: 62px;
	left: 10px;
	width: 45px;
	margin-right: 20px;

	.nav-scrollable & {
		position: relative;
		float: left;
		top: auto;
		left: auto;
	}

	.ui-grid-duo {
		.ui-block-a {
			&:first-child + .ui-block-b {
				.ui-btn {
					border-top: none;
				}
			}

			&:last-child {
				.ui-btn {
					margin-right: 0;
				}
			}
		}

		li {
			.ui-btn {
				padding: 13px 10px;
				border-right-width: 1px;
			}

			&.ui-state-active {
				a {
					color: #FFF!important;
					text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
					border-color: $lords-color;
					background: $lords-color!important;
				}
			}
		}
	}
}

/* Form validation */
form {
	input,
	textarea {
		&.input-validation-error {
			border: 1px solid $error-color;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

			&:focus {
				border-color: #953b39;
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
				-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
				-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
			}
		}
	}

	label {
		&.input-validation-error {
			margin-top: -5px;
			color: $error-color;
			font-size: 12px;
		}
	}
}

/* Overlay
-------------------------- */
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #666;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    filter: Alpha(Opacity=0);
    background: rgba(0,0,0,0.5);

    -webkit-transition: opacity 0.2s linear;
     -moz-transition: opacity 0.2s linear;
       -o-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear;

    z-index: -1;

	&.active {
		opacity: 1;
		filter: Alpha(Opacity=100);
		z-index: 12000;
	}

	.well {
		display: inline-block;
		width: auto;
		margin-top: 196px;
		padding: 10px 10px 10px 34px;
		box-shadow: 0 1px 20px rgba(0,0,0,0.6);
		border-radius: 2px;
		background-color: #F4F4F4;
		background-image: url(../img/ajax-loader.gif);
		background-position: 10px 49%;
		background-repeat: no-repeat;
	}
}


html {
	.ui-btn {
		@include linear-gradient(#FFFFFF, #E6E6E6);
		border-radius: 2px;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			
		&.ui-btn-active {
			text-shadow: 0 1px 0 rgba(0,0,0,0.5);
			border-color: $lords-color;
			background-color: $lords-color;
		}

		&:hover {
			background: #E6E6E6;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		}

		&.ui-btn-primary {
			color: #FFF;
			@include linear-gradient(#B73A3A, $lords-color);
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);

			&:hover {
				color: #FFF;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
				@include linear-gradient(#B73A3A, $lords-color);
			}
		}
	}

	.ui-btn-action {
		color: #ffffff!important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #006dcc;
		@include linear-gradient(#428bca, #2d6ca2);
		border-color: #0044cc #0044cc #002a80;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

		&:hover {
			background-color: #006dcc;
			@include linear-gradient(#428bca, #2d6ca2);
		}
	}

	.ui-btn-action:hover,
	.ui-btn-action:focus,
	.ui-btn-action:active,
	.ui-btn-action.active,
	.ui-btn-action.disabled,
	.ui-btn-action[disabled] {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #2d6ca2;
		background-position: 0 -15px;
	}

	.ui-bar-b {
		.ui-btn {
			@include linear-gradient(#444444, #333333);

			&:hover {
				background-color: #333;
				background-position: 0 -15px;
			}
		}
	}

	.ui-corner-all {
		border-radius: 0;
		-webkit-border-radius: 0;

		&.ui-btn {
			border-radius: 2px;
			-webkit-border-radius: 2px;
		}
	}

	.ui-popup {
		>.ui-btn-right {
			right: 1px;
			top: 1px;
			padding: 0 2px 2px;
			background: rgba(255,255,255,0.1);
			border: none;

			&:hover {
				background: rgba(255,255,255,0.2);
			}
		}
	}

	.ui-controlgroup {
		.ui-btn {
			background: #F6F6F6;
			border-color: #DDD;

			&:hover {
				background: #EEE;
			}
		}
	}
}

div[data-role='popup'] {
	.ui-footer {
		clear: both;
		margin: 10px 0 0;
		padding: 10px;
		border-top: 1px solid #CCC;
		@include percentage-linear-gradient(#E6E6E6, #FFFFFF, 25%);

		.ui-btn {
			margin: 0;
			
			&.ui-btn-primary {
				float: right;
			}
		}
	}
}

#settings {
	width: 600px;

	.ui-content {
		padding-top: 0;
		
		.date-wrapper {
			width: 150px;
		}
	}
	
	label.control-label,
	.ui-controlgroup-label legend {
		font-weight: bold;
		margin: 15px 0 5px;
		font-size: 14px;
	}

	.ui-radio-on::after {
		border-color: $lords-color-light;
	}

	button.save-settings {
		float: right;
		width: auto;
		margin: 0;
		color: #FFF;
		text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5)!important;
		background: $lords-color;
		border-color: $lords-color-light;
	}
}
