/* ==========================================================================
   {MainProject} system styles
   ========================================================================== */
/* Header
-------------------------- */
.ui-header {
  height: 51px;
  margin: 0;
  padding: 0;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5) !important;
  background: #52357d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgxNGViNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzg2NWFiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjM1N2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #814eb7 0%, #865ab5 34%, #52357d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #814eb7), color-stop(34%, #865ab5), color-stop(100%, #52357d));
  background: -webkit-linear-gradient(top, #814eb7 0%, #865ab5 34%, #52357d 100%);
  background: -o-linear-gradient(top, #814eb7 0%, #865ab5 34%, #52357d 100%);
  background: -ms-linear-gradient(top, #814eb7 0%, #865ab5 34%, #52357d 100%);
  background: linear-gradient(to bottom, #814eb7 0%, #865ab5 34%, #52357d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#814eb7', endColorstr='#52357d',GradientType=0 );
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  overflow: visible; }
  .ie9 .ui-header {
    filter: none; }
  .ui-header h1.ui-title {
    float: left;
    height: 43px;
    margin: 0 0 0 10px;
    padding: 8px 0 0 50px;
    color: #FFF;
    font-size: 12px;
    text-align: left !important;
    line-height: 1;
    background: url(../img/logo.png) 0 4px no-repeat; }
    .ui-header h1.ui-title span.house {
      float: left;
      width: 100%;
      margin-top: 2px;
      font-size: 20px; }
  .commons .ui-header {
    background: #016131;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NmI0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzEyNjczYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iIzAxNWMyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTVjMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #176b41 0%, #12673c 30%, #015c2e 59%, #015c2e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #176b41), color-stop(30%, #12673c), color-stop(59%, #015c2e), color-stop(100%, #015c2e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #176b41 0%, #12673c 30%, #015c2e 59%, #015c2e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #176b41 0%, #12673c 30%, #015c2e 59%, #015c2e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #176b41 0%, #12673c 30%, #015c2e 59%, #015c2e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #176b41 0%, #12673c 30%, #015c2e 59%, #015c2e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#176b41', endColorstr='#015c2e',GradientType=0 );
    /* IE6-8 */
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
    .ie9 .commons .ui-header {
      filter: none; }
  .lords .ui-header {
    background: #ad0808;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkMDgwOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iI2E4MWYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iIzk1MDYwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NTA2MGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ad0808 0%, #a81f1f 29%, #95060e 59%, #95060e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ad0808), color-stop(29%, #a81f1f), color-stop(59%, #95060e), color-stop(100%, #95060e));
    background: -webkit-linear-gradient(top, #ad0808 0%, #a81f1f 29%, #95060e 59%, #95060e 100%);
    background: -o-linear-gradient(top, #ad0808 0%, #a81f1f 29%, #95060e 59%, #95060e 100%);
    background: -ms-linear-gradient(top, #ad0808 0%, #a81f1f 29%, #95060e 59%, #95060e 100%);
    background: linear-gradient(to bottom, #ad0808 0%, #a81f1f 29%, #95060e 59%, #95060e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad0808', endColorstr='#95060e',GradientType=0 );
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-color: #A01E0D; }
    .ie9 .lords .ui-header {
      filter: none; }
  .ui-popup .ui-header {
    height: 30px; }
    .ui-popup .ui-header h1.ui-title {
      height: auto;
      padding: 6px 0;
      font-size: 18px;
      font-weight: normal;
      background: none; }

.linked-show-hide {
  display: none; }
  .linked-show-hide.active {
    display: block; }

/* Footer
-------------------------- */
.ui-footer {
  padding: 0;
  background: #1d1d1d;
  border-color: #1b1b1b;
  color: #fff;
  text-shadow: 0 1px 0 #111;
  font-weight: 700; }
  .ui-footer:before, .ui-footer:after {
    content: " ";
    display: table; }
  .ui-footer:after {
    clear: both; }
  .ui-footer .inner {
    padding: 5px 15px 6px;
    font-weight: 400;
    overflow: hidden; }
  .ui-footer .credit {
    float: right;
    margin-top: 2px;
    color: #999;
    font-size: 12px;
    font-weight: 300; }
    .ui-footer .credit a {
      color: #F75900;
      font-weight: 400; }
  .ui-footer small {
    float: left;
    color: #777;
    font-size: 12px;
    font-weight: 400; }
  .ui-footer .ui-btn {
    margin: 10px; }
    .ui-footer .ui-btn.ui-btn-right {
      position: relative;
      float: right;
      top: auto;
      right: auto; }

/* Content
-------------------------- */
.ui-content {
  padding: 10px;
  overflow-x: visible; }
  .ui-content .ui-listview {
    margin: 0; }
    .ui-content .ui-listview > li.ui-li-has-alt {
      margin-bottom: 1px; }
      .ui-content .ui-listview > li.ui-li-has-alt > a.ui-btn {
        margin-right: 0;
        padding: 4px 5px;
        font-weight: normal;
        background: #EFEFEF;
        border: none; }
      .ui-content .ui-listview > li.ui-li-has-alt > .ui-btn + .ui-btn {
        width: 2.2em;
        border: none; }

.ui-tabs {
  margin-left: 0;
  padding: 0; }
  .ui-tabs.nav-scrollable {
    margin: 0; }

.ui-tabs-panel {
  padding: 0; }
  .ui-tabs-panel h1 {
    display: none; }

.ui-input-text {
  border-radius: 2px; }

/* Tabs nav */
.ui-navbar {
  display: none;
  position: fixed;
  top: 62px;
  left: 10px;
  width: 45px;
  margin-right: 20px; }
  .nav-scrollable .ui-navbar {
    position: relative;
    float: left;
    top: auto;
    left: auto; }
  .ui-navbar .ui-grid-duo .ui-block-a:first-child + .ui-block-b .ui-btn {
    border-top: none; }
  .ui-navbar .ui-grid-duo .ui-block-a:last-child .ui-btn {
    margin-right: 0; }
  .ui-navbar .ui-grid-duo li .ui-btn {
    padding: 13px 10px;
    border-right-width: 1px; }
  .ui-navbar .ui-grid-duo li.ui-state-active a {
    color: white !important;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
    border-color: #95060e;
    background: #95060e !important; }

/* Form validation */
form input.input-validation-error,
form textarea.input-validation-error {
  border: 1px solid #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  form input.input-validation-error:focus,
  form textarea.input-validation-error:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; }
form label.input-validation-error {
  margin-top: -5px;
  color: #b94a48;
  font-size: 12px; }

/* Overlay
-------------------------- */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #666;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  filter: Alpha(Opacity=0);
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: -1; }
  .overlay.active {
    opacity: 1;
    filter: Alpha(Opacity=100);
    z-index: 12000; }
  .overlay .well {
    display: inline-block;
    width: auto;
    margin-top: 196px;
    padding: 10px 10px 10px 34px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    background-color: #F4F4F4;
    background-image: url(../img/ajax-loader.gif);
    background-position: 10px 49%;
    background-repeat: no-repeat; }

html .ui-btn {
  background-color: white;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-repeat: repeat-x;
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
  html .ui-btn.ui-btn-active {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    border-color: #95060e;
    background-color: #95060e; }
  html .ui-btn:hover {
    background: #E6E6E6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
  html .ui-btn.ui-btn-primary {
    color: #FFF;
    background-color: #b73a3a;
    background-image: -moz-linear-gradient(top, #b73a3a, #95060e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b73a3a), to(#95060e));
    background-image: -webkit-linear-gradient(top, #b73a3a, #95060e);
    background-image: -o-linear-gradient(top, #b73a3a, #95060e);
    background-image: linear-gradient(to bottom, #b73a3a, #95060e);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
    html .ui-btn.ui-btn-primary:hover {
      color: #FFF;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      background-color: #b73a3a;
      background-image: -moz-linear-gradient(top, #b73a3a, #95060e);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b73a3a), to(#95060e));
      background-image: -webkit-linear-gradient(top, #b73a3a, #95060e);
      background-image: -o-linear-gradient(top, #b73a3a, #95060e);
      background-image: linear-gradient(to bottom, #b73a3a, #95060e);
      background-repeat: repeat-x; }
html .ui-btn-action {
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-color: #428bca;
  background-image: -moz-linear-gradient(top, #428bca, #2d6ca2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#428bca), to(#2d6ca2));
  background-image: -webkit-linear-gradient(top, #428bca, #2d6ca2);
  background-image: -o-linear-gradient(top, #428bca, #2d6ca2);
  background-image: linear-gradient(to bottom, #428bca, #2d6ca2);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
  html .ui-btn-action:hover {
    background-color: #006dcc;
    background-color: #428bca;
    background-image: -moz-linear-gradient(top, #428bca, #2d6ca2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#428bca), to(#2d6ca2));
    background-image: -webkit-linear-gradient(top, #428bca, #2d6ca2);
    background-image: -o-linear-gradient(top, #428bca, #2d6ca2);
    background-image: linear-gradient(to bottom, #428bca, #2d6ca2);
    background-repeat: repeat-x; }
html .ui-btn-action:hover,
html .ui-btn-action:focus,
html .ui-btn-action:active,
html .ui-btn-action.active,
html .ui-btn-action.disabled,
html .ui-btn-action[disabled] {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2d6ca2;
  background-position: 0 -15px; }
html .ui-bar-b .ui-btn {
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #444444, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#333333));
  background-image: -webkit-linear-gradient(top, #444444, #333333);
  background-image: -o-linear-gradient(top, #444444, #333333);
  background-image: linear-gradient(to bottom, #444444, #333333);
  background-repeat: repeat-x; }
  html .ui-bar-b .ui-btn:hover {
    background-color: #333;
    background-position: 0 -15px; }
html .ui-corner-all {
  border-radius: 0;
  -webkit-border-radius: 0; }
  html .ui-corner-all.ui-btn {
    border-radius: 2px;
    -webkit-border-radius: 2px; }
html .ui-popup > .ui-btn-right {
  right: 1px;
  top: 1px;
  padding: 0 2px 2px;
  background: rgba(255, 255, 255, 0.1);
  border: none; }
  html .ui-popup > .ui-btn-right:hover {
    background: rgba(255, 255, 255, 0.2); }
html .ui-controlgroup .ui-btn {
  background: #F6F6F6;
  border-color: #DDD; }
  html .ui-controlgroup .ui-btn:hover {
    background: #EEE; }

div[data-role='popup'] .ui-footer {
  clear: both;
  margin: 10px 0 0;
  padding: 10px;
  border-top: 1px solid #CCC;
  background: #e6e6e6;
  background: -moz-linear-gradient(top, #e6e6e6 0%, white 25%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(25%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #e6e6e6 0%, white 25%, white 100%);
  background: -o-linear-gradient(top, #e6e6e6 0%, white 25%, white 100%);
  background: -ms-linear-gradient(top, #e6e6e6 0%, white 25%, white 100%);
  background: linear-gradient(to bottom, #e6e6e6 0%, white 25%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=0 ); }
  div[data-role='popup'] .ui-footer .ui-btn {
    margin: 0; }
    div[data-role='popup'] .ui-footer .ui-btn.ui-btn-primary {
      float: right; }

#settings {
  width: 600px; }
  #settings .ui-content {
    padding-top: 0; }
    #settings .ui-content .date-wrapper {
      width: 150px; }
  #settings label.control-label,
  #settings .ui-controlgroup-label legend {
    font-weight: bold;
    margin: 15px 0 5px;
    font-size: 14px; }
  #settings .ui-radio-on::after {
    border-color: #ce121d; }
  #settings button.save-settings {
    float: right;
    width: auto;
    margin: 0;
    color: #FFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5) !important;
    background: #95060e;
    border-color: #ce121d; }

