<div class="starter-template">

    <div class="row">
        <div class="col-md-6 full-column">
            <section id="projects" ng-include="'assets/view/projects.html'"></section>
            <section>
                <div id="bugs" ng-include="'assets/view/bugs.html'"></div>
            </section>
        </div>
        <div class="col-md-6 full-column">
            <section id="servers" ng-include="'assets/view/servers.html'"></section>
            <section id="trains" ng-include="'assets/view/trains.html'"></section>
            <section id="tubes" ng-include="'assets/view/tubes.html'"></section>
        </div>
    </div>
</div>