<div class="starter-template">
    <div class="row">
        <div class="col-md-6">
            <div ng-controller="ProjectsCtrl">
                <h2>Projects</h2>
                <ul>
                    <li ng-repeat="i in projects">TEST</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            Component
        </div>
    </div>

    <div class="row single-reports">
        <div class="col-md-3 single-report bugs-count">
            <div ng-controller="FogbugzCtrl">
                <h2>Bugs</h2>
                <h3>{{bugCount}}</h3>
            </div>
        </div>
        <div class="col-md-3 single-report">
            Component
        </div>
        <div class="col-md-3 single-report">
            Component
        </div>
        <div class="col-md-3 single-report">
            Component
        </div>
    </div>
</div>