<div class="starter-template">
    <div class="row">
        <div class="col-md-6 full-column">
            <section id="projects">
                <div ng-controller="ProjectsCtrl">
                    <h2>Projects</h2>
                    <ul>
                        <li ng-repeat="i in projects">TEST</li>
                    </ul>
                </div>
            </section>
            <section>
                <div id="bugs" ng-include="'assets/view/bugs.html'"></div>
            </section>
        </div>
        <div class="col-md-6 full-column">
            <section id="servers">
                <h2>Servers</h2>
            </section>
            
            <section id="trains" ng-include="'assets/view/trains.html'"></section>
            <section id="tubes" ng-include="'assets/view/tubes.html'"></section>
        </div>
    </div>
</div>