<div ng-controller="ProjectCtrl" class="dashboard-panel">
    <div class="small-header">
        <span class="col-md-12 header">Project Build Information</span>
    </div>
    <div class="clearfix">
    </div>
    <carousel interval="projectScrollInterval"  >
        <slide ng-repeat=" proj in projectDataList ">
            <div ng-repeat="array in proj">
                <div>
                    <div  class="server-card" style=" float:left; width:400px;height:300px; ">
                        <h3>{{array.projectName.name | FormatName}}</h3> 
                        <div ng-repeat ="build in array.projectName.builds">
                            <div ng-switch="build.Status">
                                <div ng-switch-when="SUCCESS" style="background-image:url('/assets/img/successbackground.png'); width:400px; height:50px">
                                    <span> {{build.Name}} </></span> <span> | {{build.Status}} | {{build.StatusDate |DateFrom}} </span>
                                </div>
                                <div ng-switch-when="ERROR" style="background-image:url('/assets/img/failurebackground.png'); width:400px; height:50px">
                                    <span> {{build.Name}} </></span> <span> {{build.Status}} | <script> moment('{{build.StatusDate }}', "YYYYMMDD").fromNow()</script>| {{build.StatusDate |DateFrom}} </span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
      
            </div>
        </slide>
    </carousel>
    
</div>
