<div ng-controller="ProjectCtrl" class="dashboard-panel">
    <div class="small-header">
        <span class="col-md-12 header">Project Build Information</span>
    </div>
    <div class="clearfix">
    </div>
    <carousel interval="projectScrollInterval"  >
        <slide ng-repeat=" proj in projectDataList ">
            <div ng-repeat="array in proj">
                <div>
                    <div  class="server-card" style=" float:left; width:400px;height:300px; overflow:scroll; ">
                        <h1>{{array.projectName.name}}</h1>
                        <div ng-repeat="build in array.projectName.builds">
                            <div>
                                <p>{{build.Name}}</></p>
                                <p>{{build.Status}}</p><p> {{build.StatusDate}}</p>
                        </div>
                    </div>
                </div>
      
            </div>
          </div>
        </slide>
    </carousel>
    
</div>
