<div ng-controller="TrainCtrl" class="dashboard-panel">
    <div class="small-header">
        <span class="col-md-7 header">Train Information</span>
        <span class="col-md-5 last-updated">Last updated: {{lastUpdated | date:'dd/MM/yyyy HH:mm:ss'}}</span>
        <div class="clearfix"></div>
    </div>
    <carousel interval="trainScrollInterval">
        <slide ng-repeat="time in departureTimes">
            <div class="route col-md-6">
                <span>{{time.routeA.from}} to {{time.routeA.to}}</span>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Destination</th>
                            <th>Status</th>
                            <th>Platform</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in time.routeA.departures">
                            <td>{{d.ScheduledTime}}</td>
                            <td>{{d.Name}}</td>
                            <td>{{d.ExpectedTime}}</td>
                            <td>{{d.Platform}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="route col-md-6" ng-style="{'visibility': time.secondRouteVisibility}">
                <span>{{time.routeB.from}} to {{time.routeB.to}}</span>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Destination</th>
                            <th>Status</th>
                            <th>Platform</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in time.routeB.departures">
                            <td>{{d.ScheduledTime}}</td>
                            <td>{{d.Name}}</td>
                            <td>{{d.ExpectedTime}}</td>
                            <td>{{d.Platform}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </slide>
    </carousel>
</div>
