@import '_bootstrap';

body {
    padding-top: 50px;
    padding-right: 5px;
    padding-left: 5px;
    background: url(/assets/img/background.png);
    color: white;
}

.starter-template {
    text-align: center;

    .full-column {
        padding: 0px;
    }

    section {
        border: 1px solid white;
        margin-top: 10px;
        margin-right: 10px;
    }
}

.small-header {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;

    .header {
        font-size: 16px;
        text-align: left;
        font-weight: bold;
    }

    .last-updated {
        text-align: right;
        font-size: 12px;
        padding-top: 3px;
    }
}

.container-max {
    width: 100%;
}

#projects, #servers {
    height: 600px;
}

#bugs {
    overflow: hidden;

    h2 {
        font-size: 20px;
    }

    span {
        font-size: 110px;
    }

    .bugPanel {
        background: linear-gradient(#D30000, #990000);
    }

    .verifyPanel {
        background: linear-gradient(#FFFF4D, #FFFF00);
        color: black;
    }
}

#tubeLineName {
    font-size: 20px;
}

#tubeStatus {
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: left;
}

#trains {
    .route {
        span {
            text-align: left;
            font-size: 14px;
        }

        .table.table-condensed, th, td {
            text-align: left;
            border-color: gray;
            font-size: 12px;
            padding: 2px;
            margin: 0;
        }
    }
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.carousel-control {
    visibility: hidden;
}

.carousel-indicators {
    top: -22px;
}

.dashboard-panel {
    background: linear-gradient(to bottom, #333 0%, #444 22%, #444 100%);
}