@import '_bootstrap';

body {
    padding-top: 50px;
    background-color: black;
    color: white;
}

.starter-template {
<<<<<<< HEAD
 
  text-align: center;

  .full-column{
      padding:0px;
  }

  section {
    border: 1px solid white;
    margin-top: 10px;
    margin-right: 10px;
  }
=======
    padding: 10px 15px;
    text-align: center;

    .full-column {
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 10px;
    }

    section {
        border: 1px solid white;
    }
>>>>>>> b3c10504c5d20f9eb421a488e8f6053bc7b28e43
}

.container-max {
    width: 100%;
}

#projects, #servers {
    height: 600px;
}

#bugs {
    min-height: 150px;
    background-color: darkred;

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 50px;
    }
}

<<<<<<< HEAD
#tubes {
    #tubeLineName {
        font-size: 20px;
    }
=======
.small-header {
    h4 {
        text-align: left;
        margin-left: 10px;
    }
}

#tubeLineName {
    font-size: 20px;
    transition: all 1s ease;
}
>>>>>>> b3c10504c5d20f9eb421a488e8f6053bc7b28e43

    #tubeStatus {
        background-color: white;
        color: black;
        font-size: 20px;
        text-align: left;
    }
}

<<<<<<< HEAD


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
=======
#trains {
    .route {
        span {
            float: left;
            margin-left: 10px;
        }

        .table.table-condensed, th, td {
            text-align: left;
            border-color: gray;
        }
    }
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
>>>>>>> b3c10504c5d20f9eb421a488e8f6053bc7b28e43
