@import '_bootstrap';

body {
    padding-top: 50px;
    background-color: black;
    color: white;
}

.starter-template {
    text-align: center;

    .full-column {
        padding: 0px;
    }

    section {
        border: 1px solid white;
        margin-top: 10px;
        margin-right: 10px;
    }
}

.small-header {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    span {
        font-size: 16px;
    }
}

.container-max {
    width: 100%;
}

#projects, #servers {
    height: 600px;
}

#bugs {
    min-height: 150px;
    background-color: darkred;

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 50px;
    }
}

#tubes {
    #tubeLineName {
        font-size: 20px;
    }


    #tubeLineName {
        font-size: 20px;
        transition: all 1s ease;
    }

    #tubeStatus {
        background-color: white;
        color: black;
        font-size: 20px;
        text-align: left;
    }
}

#trains {
    .route {
        span {
            float: left;
            font-size: 14px;
        }

        .table.table-condensed, th, td {
            text-align: left;
            border-color: gray;
            font-size: 12px;
            padding: 2px;
            margin: 0;
        }
    }
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
