@import '_bootstrap';

body {
    padding-top: 50px;
    background-color: black;
    color: white;
}

.starter-template {
    padding: 10px 15px;
    text-align: center;

    .full-column {
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 10px;
    }

    section {
        border: 1px solid white;
    }
}

.container-max {
    width: 100%;
}

#projects, #servers {
    height: 600px;
}

#bugs {
    min-height: 150px;
    background-color: darkred;

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 50px;
    }
}

.small-header {
    h4 {
        text-align: left;
        margin-left: 10px;
    }
}

#tubeLineName {
    font-size: 20px;
    transition: all 1s ease;
}

#tubeStatus {
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: left;
}

#trains {
    .route {
        span {
            float: left;
            margin-left: 10px;
        }

        .table.table-condensed, th, td {
            text-align: left;
            border-color: gray;
        }
    }
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}