<div ng-controller="TrainCtrl" class="dashboard-panel">
    <div class="small-header">
        <span class="col-md-7 header">Train Information</span>
        <span class="col-md-5 last-updated">Last updated: {{lastUpdated | date:'dd/MM/yyyy HH:mm:ss'}}</span>
        <div class="clearfix"></div>
    </div>
    <carousel interval="trainScrollInterval">
        <slide ng-repeat="innerArray in departureTimes">
            <div ng-repeat="route in innerArray">
                <div class="route col-md-6">
                    <span>{{route.from}} to {{route.to}}</span>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Destination</th>
                                <th>Status</th>
                                <th>Platform</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in route.departures">
                                <td>{{d.ScheduledTime}}</td>
                                <td>{{d.Name}}</td>
                                <td>{{d.ExpectedTime}}</td>
                                <td>{{d.Platform}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </slide>
    </carousel>
</div>
